<body>
  <br><br><br><br><br><br>
  <div class="container w-150 t rounded ">
    <div class="row align-items-stretch">


      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
      </div>


      <div class="col bg-white p-5 rounded">
        <h2 class="fw-bold text-center py-5 text-primary">¡Bienvenido!</h2>
        <form (ngSubmit)="onLogin()">
          <div class="mb-4">
            <p>Correo Electrónico</p>
            <input type="email" class="form-control" placeholder="Correo Electrónico" name="email">
          </div>
          <div class="mb-4">
            <p>Contraseña</p>
            <input type="password" class="form-control" placeholder="Contraseña" name="password">
          </div>
          <!---<div class="mb-4 form-check">
            <input type="checkbox" name="connected" class="form-check-input"><label for="connected"
              class="form-check-label">Mantenerme conectado</label>
          </div>--->
          <div class="d-grid text-center">
            <button type="submit" class="btn btn-primary w-75">Iniciar Sesión</button>
          </div>
          <br><br><br><br><br><br>
          <div class="my-3 text-center">
            <span>¿Olvidaste tu contraseña?<a href="#"> Soporte tecnico</a></span>
          </div>

        </form>

      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br>
</body>
